@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AktivGrotesk bold;
  src: url("/fonts/AktivGrotesk-Bold.otf");
}
@font-face {
  font-family: AktivGrotesk;
  src: url("/fonts/AktivGrotesk-Regular.otf");
}
.ff_AktivGrotesk {
  font-family: AktivGrotesk;
  font-weight: 400;
}

/* .ff_AktivGrotesk {
  font-family: AktivGrotesk;
} */
.ff_AktivGrotesk_bold {
  font-family: AktivGrotesk bold;
}

.ff_poppins {
  font-family: "Poppins", sans-serif;
}

/* .border_grideant {
  border-right: 3px solid;
  border-image: linear-gradient(
      180deg,
      rgba(68, 185, 2, 0) 0%,
      rgba(68, 185, 2, 0.2) 50.67%,
      rgba(68, 185, 2, 0) 100%
    )
    1;
  height: 100%;
} */
.gildmini_image {
  clip-path: polygon(50% 0, 92% 25%, 92% 75%, 50% 100%, 8% 75%, 8% 25%);
}

/* SLICK DOTS CLASSES HERE */

.slick-dots li button::before {
  font-size: 0 !important;
  line-height: 0 !important;
  display: block;
  width: 16px !important;
  height: 16px !important;
  padding: 3px;
  cursor: pointer;
  border: 2px solid #929292 !important;
  outline: 0;
  background-color: white !important;
  border-radius: 10px !important;
  color: transparent !important;
}

.slick-dots li.slick-active button:before {
  font-size: 0;
  line-height: 0;
  opacity: 1 !important;
  display: block;
  width: 16px !important;
  height: 16px !important;
  padding: 3px;
  cursor: pointer;
  color: #45b802 !important;
  border: 2px solid transparent !important;
  outline: 0;
  background: #45b802 !important;
  border-radius: 10px !important;
}

/* ==== HERO-CSS ===== */
.image {
  transform: scale(1.1);
}
.image:hover {
  transform: scale(1);
}

.hero_clipPath {
  -webkit-mask-image: url("/images/svg/hero_path.svg");
  mask-image: url("/images/svg/hero_path.svg");
  -webkit-mask-size: 100%;
  /* -webkit-mask-position: center; */
  /* mask-position: center; */
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.hero_img_scale {
  animation: heroImgScale 2s ease-in-out forwards;
  animation-delay: 2500ms;
  transform: scale(1.4);
}
@keyframes heroImgScale {
  to {
    transform: scale(1);
  }
}

.slick-track {
  display: flex !important;
}
.slick-slide {
  height: inherit !important;
  display: flex !important;
}
.slick-slide > div {
  display: flex;
  width: 100%;
}

.slick-current div .border_grideant {
  border-right: 3px solid;
  border-image: linear-gradient(
      180deg,
      rgba(68, 185, 2, 0) 0%,
      rgba(68, 185, 2, 0.2) 50.67%,
      rgba(68, 185, 2, 0) 100%
    )
    1;
  height: 100%;
}
@media (min-width: 1200px) {
  .slick-current + .slick-active div .border_grideant {
    border-right: 3px solid;
    border-image: linear-gradient(
        180deg,
        rgba(68, 185, 2, 0) 0%,
        rgba(68, 185, 2, 0.2) 50.67%,
        rgba(68, 185, 2, 0) 100%
      )
      1;
    height: 100%;
  }
}
.clip_path_team_slider {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.faq_bg_color {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  background: rgba(255, 255, 255, 0.09);
}
.clipPath {
  -webkit-mask-image: url("/images/svg/Unionclip.svg");
  mask-image: url("/images/svg/Unionclip.svg");
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.loader div {
  animation-duration: 0.5s;
}

.loader div:first-child {
  animation-delay: 0.1s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}
.css-67l5gl {
  background-color: transparent !important;
}

.data_gild_img_scale {
  animation: glidImgScale 2.5s ease-in-out forwards;
  animation-delay: 200ms;
  transform: scale(1.8);
}
@keyframes glidImgScale {
  to {
    transform: scale(1);
  }
}
.scrolldown_animation {
  animation: downarrow 1s ease-in-out infinite alternate;
}
@keyframes downarrow {
  100% {
    transform: rotate(90deg) translatey(5px);
  }
}

/* ===== NAVBAR CSS ===== */
.slideUp {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: transform 0.4s ease-out;
}

.slideDown {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: transform 0.4s ease-out;
}
.css-15v22id-MuiAccordionDetails-root {
  padding-top: 0;
}
.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin-bottom: 10px;
}

/* Animate Loader  */
.animate_loader {
  animation: loader 3s ease-in-out 1;
}
@keyframes loader {
  0% {
    bottom: 60px;
    right: 24%;
    transform:scale(0.1);
  }
  63% {
    bottom: 60px;
    right: 24%;
    transform:scale(0.1);
  }
  100% {
    bottom: -120px;
    transform: scale(1);
  }
}
.loader_img {
  transform: scale(0.3);
}


@media (min-width:1400px) {
  @keyframes loader {
    0% {
    bottom: 59px;
      right: 22%;
      transform:scale(0.1);
    }
    63% {
    bottom: 59px;
      right: 22%;
      transform:scale(0.1);
    }
    100% {
      bottom: -120px;
      transform: scale(1);
    }
  }
}

@media (min-width:1024px) {
  @keyframes loader {
    0% {
      bottom: 20%;
        right: 28%;
        transform:scale(0.1);
      }
      63% {
      bottom: 20%;
        right: 28%;
        transform:scale(0.1);
      }
      100% {
        bottom: -51px;
        transform: scale(1);
      }
  }
}
@media (min-width:768px) {
  @keyframes loader {
    0% {
      bottom: 20%;
        right: 16%;
        transform:scale(0.1);
      }
      63% {
      bottom: 20%;
        right: 16%;
        transform:scale(0.1);
      }
      100% {
        bottom: 51px;
        transform: scale(1);
      }
  }
}